
body, html{ height:100%; margin:0px; font: normal 11px Arial, Helvetica, sans-serif; }
input{ font: normal 11px Arial, Helvetica, sans-serif; margin:1px; }
textarea{ background-image:url(img/cat_producto.jpg); font: normal 11px Arial, Helvetica, sans-serif; height:50px; color:#FFFFFF; }
form{ margin:0px 0px 0px 0px; }

.busqueda{ background-image:url(img/busqueda.jpg);background-repeat:no-repeat; width:200px; height:51px; }

.input_text{ background-color: #999900; color:#FFFFFF; }
.input{ width:280px; border:1px solid #BED6E0; vertical-align:top; }
.input_nums{ width:100px; border:1px solid #BED6E0  }
.submit{ background-image:url(img/boton_3.gif); border-style:0px; color:#FFFFFF; }
CHECKBOX,INPUT, RADIO, SELECT, TEXTAREA{ font:normal 11px Arial, Helvetica, sans-serif; color:#666666; }

#principal .menu{
width:20%;
background-color:#FFFFFF;
border-right:1px solid #CCCCCC;
}

#principal .contenido{
width:584px;
}

#principal .pie{ background-color:#CCCCCC; height:19px; width:100%; color:#333333; }

#principal .pie a{
height:19px;
color:#FFFFFF;
text-decoration:none;
}
#principal .pie a:hover{
height:19px;
color: #CCCCCC;
text-decoration:none;
}

#cabezera{
width:100%;
height:79px;
}

#cabezera .superior{ background-color:#CCCCCC; color:#333333; height:50px; color:#F4F4F4; font-size:30px; padding-top:10px }

#cabezera .vertical_line1{
	font:bold 10px Arial, Helvetica, sans-serif;
	color:#666666;
	width:250px;
	height:16px;
	vertical-align:middle;
	background-color:#CCCCCC;
	text-align:left;
}

#cabezera .vertical_line2{
	font:bold 10px Arial, Helvetica, sans-serif;
	color:#666666;
	height:16px;
	vertical-align:middle;
	background-color:#CCCCCC;
	text-align:right;
}

#cabezera .vertical_line2 a{ padding:0 4px 0 0; color:#666666; font-weight:bold; text-decoration:none; }
#cabezera .vertical_line2 a:hover{ text-decoration:underline; }

#cabezera .titulo{
font:normal 11px  Arial, Helvetica, sans-serif;
color: #FFFFFF;
width:484px;
text-align:center;
background-color: #009999;
}

#cabezera .usuario{
width:200px;
font:normal 11px tahoma;
color: #FFFFFF;
text-transform:capitalize;
}

#cabezera .cerrar_sesion{
width:100px;
font:bold 10px Arial, Helvetica, sans-serif;
color: #FF9900;
text-align:center;

}
#cabezera .cerrar_sesion a{
color: #FFCC00;
text-align:center;
text-decoration:none
}
#cabezera .cerrar_sesion a:hover{
color: #DBC577;
}

#cuerpo{
	position:relative;
	float:left;
	width:100%;
	min-height:300px;
	padding: 0px;
	margin: 0px;
}

#cuerpo .titulo{
font:normal 11px Arial, Helvetica, sans-serif; 
color: #006666;
height:20px;
text-align:center;
background-color: #E1BA5E; 

 
}

#cuerpo .subtitulo{
font:bold 11px tahoma; 
background-color:#666666;
text-align:center;
}

/*#menu .item{
width:200px
}*/
#menu_izquierdo{
width:200px;
background-color:#ffffff;
height:auto;
}

#menu_izquierdo .item{
	text-align:left;
	width:200px;
	vertical-align:middle;
	font: normal 11px tahoma;
	border-bottom:1px solid #cccccc;
	background-color: #f4f4f4;
}

#menu_izquierdo .item a{ color:#333333; height:20px; padding-left:10px; text-decoration:none; display:block; }
#menu_izquierdo .item a:hover{ color:#000000; background-color:#d3d6ff; display:block; }

#menu_izquierdo .date{
color:#666666;
font-weight:bold;
padding:4px 0px;
text-align:center;
text-decoration:underline;
vertical-align:middle;
height:15px;
border-bottom:1px solid #CCCCCC;
}

#contenido{
width:580px;
}

.linea{
background-image:url(imgs/linea.jpg);
background-repeat:repeat;
width:4px;
}
#reporte{
	width:100%;
	padding: 0px;
	margin: 0px 0px 0px 0px;
	vertical-align:top;
	border:1px solid #CCCCCC;
}
#reporte .subtitulo{
font:bold 11px tahoma; 
background-color: #80CB55;
text-align:center;
color: #F4F4F4;
height:17px;
}

#reporte .reg1{
background-color: #F4F4F4;
text-align:center;
}
#reporte .reg1:hover{
background-color:#80CB55;
text-align:center;
}
#reporte .reg2{
background-color: #D5F1CF;
text-align:center;
}
#reporte .reg2:hover{
background-color: #80CB55;
text-align:center;
}
#reporte .celda{
padding-left:2px;
padding-right:5px;
}

#error{
	font: bold 11px tahoma;
	color:#F20000;
	margin:5px 0px;
	padding:5px 5px 5px 5px;
	width:98.7%;
	background-color:#FEFEEB;
	text-align:center;
}
#index{

}
#index .fecha{
background-image:url(imgs/admin_menu_arriba1.jpg); 
padding-left:60px;
color:#996600; 
}
#index .linea{
background-image:url(../imgs/linea.jpg);
background-repeat:repeat;
}

.invisible_gris{
	border: 0px #D0D0A8; 
	background:#eeeeee;
	color:#D0D0A8;
	font-size:0px;
}

.obligatorio{
color:#FF0000;}

#resumen{
border:1px solid #999999;
background-color:#FFFFFF;
}

#resumen .rtitle{
border-bottom:1px solid #999999;
text-align:center;
}
#resumen .descripcion{
text-align:left;
padding-left:5px;
}
#resumen .cantidad{
text-align:right;
padding-right:10px;
}

#informe{
border:1px solid #006699;
color:#666666;
margin-top:14px;
font-family:Arial, Helvetica, sans-serif;
}
#informe .menus{
text-align:center;
height:20px;
vertical-align:middle;
color:#666666;
background-color:#CCDCEA;
width:150px;
}

#informe .menus a{
text-decoration:none;
color:#666666;
}

#find{
border: 2px solid #996600;
margin-top:10px;
}

#find .criterio{
height:30px;
vertical-align:middle;
text-align:left;

}

#menuSuperior{ position:relative; float:left; width:100%; height:auto; }
#menuSuperior .tit_pagina{ position:relative; float:left; width:auto; height:auto; padding:4px 12px; text-align:left; color:#006666; font-weight:bold; }
.cont_items_menu{ position:relative; float:left; width:100%; height:auto; padding:4px 0px 4px 0px; margin:0 0 10px 0; border-top:1px solid #CCCCCC; border-bottom:1px solid #CCCCCC; }
.cont_items_menu ul{ margin:0px; }
.cont_items_menu li{ position:relative; float:left; width:90px; display:block; list-style:none; padding:0px 12px; border:1px solid #CCCCCC; margin:2px; text-align:center; }
.cont_items_menu a{ color:#666666; text-decoration:none; }
.cont_items_menu a:hover{ color:#333333; font-weight:bold; }
.cont_items_menu li:hover{ border:1px solid #333333; }

.contenido_item{ position:relative; float:left; width:100%; height:auto; }

#mantenimiento{
	width:100%;
	border:1px solid #f4f4f4; 
} 

#mantenimiento .accion{ text-align:center; background-color:#CCCCCC; color:#333333; }

.btn{ border:1px solid #ddd; border-bottom:1px solid #999999; border-left:1px solid #999999; margin:8px; background: #F4F9D2 }
.navegador{ text-indent:1em; text-align:left; width:100%; background:#FFFFCC; line-height:1.5em }
.navegador a{ text-decoration:none; color:#0000FF;}
#images{ height:262px; margin-top:10px;}
#images input{ width:auto}
#images .left{ width:170px;border:1px solid #CCCCCC;float:left;height:390px;margin-right:2px;text-align:left;}
#images .right{ width:374px;border:1px solid #CCCCCC;height:390px;float:right;}
#images .bottom{ clear:both; width:550px;padding-top:10px; vertical-align:bottom; }
#images .bottom	span{ font-weight:bold; color:#0099CC; cursor:pointer;}
#item_image{ line-height:18px; margin-left:2px}
#item_image #itemg{ position:relative;top:4px;}
#iframe {  			 
	width: 526px;
	border:1px solid #CCCCCC;
	padding:5px !important;
	padding-bottom:0;
	overflow:hidden
} 
#iframe .ileft{
	float:left;
	width:80%;
	height:40px;		
}
#iframe .iright{
	float: right;
	width:19%;
	height:40px;
	background-color:#f4f4f4;
	border:1px solid #CCCCCC;
	color:#006699;	
	cursor:pointer;			
} 
#iframe .ileft_img{
	float:left;
	width:80%;
	height:20px;		
}
#iframe .iright_img{
	float: right;
	width:19%;
	height:20px;
	background-color:#f4f4f4;
	border:1px solid #CCCCCC;
	color: #006699;	
	cursor:pointer;			
} 
#iframe .iright p{ margin-top:14px; font-weight:bold; }
#iframe .iright_img p{ margin-top:4px; font-weight:bold; }

img{ border:0px}
#paginador a{ margin:0 2px 0 2px; color:#0000FF}
#paginador b{ margin:0 2px 0 2px; color:#000000}

#SWFUpload_0{ vertical-align:bottom; }

/*	Tooltip	*/
#tooltip {
	position: absolute;
	width:350px;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eee;
	padding: 5px;
	opacity: 0.85;
}
#tooltip h3, #tooltip div { margin: 0; }

.btn{ cursor:pointer; }

/*	Galeria de fotos	*/
.cont_imagenes{ position:relative; float:left; width:100%; min-height:320px; }
.item_img{ position:relative; float:left; width:100px; height:105px; border:1px solid #CCC; padding:4px; margin:4px; }
.item_img .nombre{ position:relative; float:left; width:100%; height:80px; text-align:center; overflow:hidden; }
.item_img .nombre img{ border:1px solid #666; }
.item_img .eliminar_imagen{ position:relative; float:right; font-size:12px; color:#066; cursor:pointer; padding:0px 3px; font-weight:bold; }

/*	Ranking	*/
.cnt_ranking{ position:relative; float:left; width:400px; height:auto; padding:10px 0 0 180px; }
.cnt_ranking .item{ position:relative; float:left; width:100%; height:auto; padding:4px 0px; }
.cnt_ranking .item .tema{ position:relative; float:left; width:auto; height:auto; padding:0 0 0 10px; }
.cnt_ranking .item .votos{ position:relative; float:right; width:auto; height:auto; padding:0 10px 0 0; }