/* CSS Document */

#cnt_login { position:relative; width:300px; margin:auto; top:100px; }
#cnt_login div{ position:relative; float:left; width:100%; height:auto; padding:5px 0px; }
#cnt_login label{ position:relative; float:left; width:120px; height:auto; padding:3px; text-align:right; }
#cnt_login input[type='text']{ width:130px; border:1px solid #CCC; border-radius:4px; padding:3px; margin:0px; }
#cnt_login input[type='password']{ width:130px; border:1px solid #CCC; border-radius:4px; padding:3px; margin:0px; }
#cnt_login input[type='submit']{ margin:0 0 0 120px; }
#cnt_login .recuperar_contrasenia{ text-align:center; }
#cnt_login .error{ color:#FF0000; }

#cnt_recuperar_contrasenia{ position:relative; float:left; width:450px; height:auto; padding:100px 0 0 50px; }
#cnt_recuperar_contrasenia div{ position:relative; float:left; width:100%; height:auto; padding:5px 0px; }
#cnt_recuperar_contrasenia .error{ color:#FF0000; }


.contenedor-principal{ position:relative; float:left; width:100%; height:auto; }

.contenedor-principal .cabecera{ position:relative; float:left; width:98%; height:auto; border-bottom:1px solid #999; margin:10px; }
.contenedor-principal .cabecera .logo-imagen-empresa{ position:relative; float:left; width:100%; height:auto; padding:6px 0px; text-align:center; }
.contenedor-principal .cabecera .nombre-usuario{ position:relative; float:left; width:auto; height:auto; padding:6px 0px; }
.contenedor-principal .cabecera .salir{ position:relative; float:right; width:auto; height:auto; padding:6px 0px; }

.contenedor-principal .cuerpo{ position:relative; float:left; width:98%; height:auto; margin:10px; }
.contenedor-principal .opciones{ position:relative; float:left; width:20%; height:auto; }
.contenedor-principal .contenido { position:relative; float:left; width:80%; height:auto; }
.contenedor-principal .contenido_ses { position:relative; float:left; width:100%; height:auto; }

.contenedor-principal .contenido .opciones_internas{ position:relative; float:left; width:100%; height:auto; }
.contenedor-principal .contenido .contenido_interno{ position:relative; float:left; width:100%; height:auto; }
.contenedor-principal .contenido .contenido_interno label{ float:left; width:20%; }
.contenedor-principal .contenido .contenido_interno input[type='text'], input[type='password'], select{ float:left; width:50%; }
.contenedor-principal .contenido .contenido_interno .itm{ position:relative; float:left; width:100%; height:auto; padding:4px 0px; }

/*	Galeria de imagenes	*/
.cont_imagenes{ position:relative; float:left; width:100%; height:auto; padding:8px 0px; }
.cont_imagenes .item_img{ position:relative; float:left; width:80px; height:80px; padding:9px; }
.cont_imagenes .eliminar_imagen{ position:absolute; float:right; width:auto; height:auto; top:3px; right:3px; cursor:pointer; font-size:10px; }