
body, html{ height:100%; margin:0px; font-family:arial,sans-serif; font-size:12px; }
p{ margin:0px; padding:0px; }
a{ color:#066; text-decoration:none; }
a:hover{ text-decoration:underline; }
img{ border:none; }