
/*	Cabecera	*/
#cabecera .banner-superior{ position:relative; float:left; width:100%; height:auto; padding:13px 0px; }
#cabecera .banner-superior .banner-addsense-cabecera{ position:relative; width:728px; height:90px; margin:0 auto 0 auto; background:#29bad4; }

#cuerpo .logo-opciones{ position:relative; float:left; width:100%; height:auto; padding:23px 0 0 0; }
#cuerpo .logo-opciones .logo{ position:relative; float:left; width:auto; height:auto; padding:0 0 0 23px; }

#cuerpo .logo-opciones .opciones{ position:relative; float:right; width:auto; height:auto; right:12px; padding:60px 0 0 0; }
#cuerpo .logo-opciones .contenedor-cuenta{ position:relative; float:right; width:100%; height:auto; padding:4px 0px; text-align:right; }
#cuerpo .logo-opciones .contenedor-cuenta{ color:#a657c2; font-weight:bold; font-size:12px; }
#cuerpo .logo-opciones .contenedor-cuenta a{ color:#a657c2; }
#cuerpo .logo-opciones .contenedor-cuenta a:hover{ text-decoration:underline; }

#cuerpo .logo-opciones .contenedor-buscar{ position:relative; float:right; width:auto; height:auto; padding:5px; background:#999999; text-align:right; }
#cuerpo .logo-opciones .contenedor-buscar input[type='text']{ position:relative; float:left; width:203px; height:18px; }
#cuerpo .logo-opciones .contenedor-buscar #btnBuscar{ position:relative; float:left; width:auto; height:auto; display:block; padding:1px 0 0 4px; }

#cuerpo .menu-general{ position:relative; float:left; width:100%; height:30px; background:url(../imgs/fondo-menu-general.png) repeat-x center center; margin:7px 0px; }

#cuerpo .menu-general a{ position:relative; float:left; width:109px; height:auto; text-align:center; padding:6px 0px; color:#FFF; font-size:14px; }
#cuerpo .menu-general a:hover{ background:url(../imgs/menu-general-hover.png) repeat; }

/*	Pie		*/
#window-pie-menu .menu{ width:auto; height:auto; margin:0 auto 0 auto; padding:2px 0; text-align:center; }
#window-pie-menu .menu a{ color:#333; padding:0 4px; font-weight:bold; }
#window-pie-menu .menu a:hover{ text-decoration:underline; }

#window-pie-datos .logo{ width:auto; height:auto; margin:0 auto 0 auto; padding:20px 0 0 0; text-align:center; }
#window-pie-datos .datos{ position:absolute; float:left; width:auto; height:auto; padding:20px 0 0 0; color:#CCC; }
#window-pie-datos .datos a{ color:#CCC;  }
#window-pie-datos .datos a:hover{ text-decoration:underline; }

/*	Pie fijo	*/
.pie-fijo{ position:fixed; float:left; width:100%; height:38px; background:url(../imgs/fondo-pie-fijo.png) repeat-x center center; bottom:0px; z-index:100; overflow:hidden; border:none; }

.pie-fijo span.inicial{ padding:12px 6px 0 0; font-size:13px; font-weight:bold; }
.pie-fijo span{ position:relative; float:left; width:auto; height:auto; padding:9px 6px 0 6px; }
.pie-fijo span.right{ position:relative; float:right; width:auto; height:auto; padding:9px 0 0 0; }
.pie-fijo span input[type='text']{ width:155px; height:21px; border:1px solid #CCC; }
.pie-fijo span input[type='button']{ background:#4d4d4d; color:#FFF; padding:3px 15px; border:none; border-radius:4px; cursor:pointer; }

/*	index	*/
#menu-categorias .titulo{ position:relative; float:left; width:100%; height:auto; color:#FFF; padding:4px 0px; background:#b16ec9; font-weight:bold; font-size:12px; }
#menu-categorias .titulo p{ padding:0 0 0 6px; }

#menu-categorias .lista{ position:relative; float:left; width:100%; height:auto; color:#FFF; }

.margen-index{ position:relative; float:left; width:970px; height:auto; padding:0px 7px 6px 7px; }
.margen-index li{ font-family:Verdana, Geneva, sans-serif; font-size:10px; list-style:none; border-bottom:1px solid #CCC; }
.margen-index li p{ padding:3px 0 3px 4px; }
.margen-index li a{ color:#333; }
.margen-index li a:hover{ color:#a657c2; }

/*	Contenido central	*/
.contenido-central{ position:relative; float:left; width:505px; height:auto; padding:0px 8px; }

.contenido-central .columna1{ width:161px; margin:0 5px 0 0; padding:0 5px 0 0; border-right:1px solid #CCC; }
.contenido-central .columna2{ width:160px; }
.contenido-central .columna{ position:relative; float:left;  height:auto; margin-top:16px; font-size:10px; }

.contenido-central .columna p{ position:relative; float:left; width:100%; height:auto; padding:2px 0px; }
.contenido-central .columna p .b1{ font-size:12px; font-weight:bold; color:#b879ce; }
.contenido-central .columna p .b2{ font-weight:bold; color:#b879ce; }
.contenido-central .columna a{ color:#b879ce; }
.contenido-central .columna a:hover{ text-decoration:underline; }

.contenido-central .columna .item{ position:relative; float:left; width:100%; height:256px; padding:0 0 5px 0; margin:0 0 12px 0; }
.contenido-central .columna .item-portada{ position:relative; float:left; width:100%; height:256px; padding:0 0 5px 0px; margin:0 0 12px 0; }

.contenido-central .otros-items{ position:relative; float:left; width:247px; height:auto; }
.contenido-central .otros-items img{ padding:3px; }
.contenido-central .otros-items .index-luna-miel{ position:relative; float:left; width:239px; height:auto; border:1px solid #d9d9d9; padding:4px; margin:12px 0 8px 0; }
.contenido-central .otros-items .index-eventos{ position:relative; float:left; width:239px; height:auto; border:1px solid #d9d9d9; padding:4px; }

.contenido-central .otros-items2{ position:relative; float:left; width:239px; height:auto; border:1px solid #d9d9d9; padding:4px; margin:12px 0 8px 8px; }
.contenido-central .otros-items2 img{ padding:3px; }
.contenido-central .otros-items2 .contenido{ position:relative; float:left; width:100%; height:auto; padding:4px 0px; }
.contenido-central .otros-items2 .contenido p{ position:relative; float:left; width:100%; height:auto; padding:1px 0px; }
.contenido-central .otros-items2 .contenido p.publicacion{ background:#e4cced; }
.contenido-central .otros-items2 .contenido p.rubro-proveedor{ text-align:right; color:#b26dca; }

/*	Contenido derecho	*/
.contenido-derecha{ position:relative; float:left; width:300px; height:auto; }
.contenido-derecha .banner-300-100{ position:relative; float:left; width:300px; height:100px; background:#2e3192; }
.contenido-derecha .banner-300-250{ position:relative; float:left; width:300px; height:250px; background:#29bad4; margin:8px 0 0 0; }
.contenido-derecha .video-semana{ position:relative; float:left; width:300px; height:auto; margin:8px 0 0 0; }
.contenido-derecha .video-semana .titulo{ position:relative; float:left; width:100%; height:auto; background:#d8b5e4; }
.contenido-derecha .video-semana img{ padding:4px; }
.contenido-derecha .video-semana .video{ position:relative; float:left; width:auto; height:auto; padding:4px; background:#9c00c4; }

/*	Contenido lista de proveedores	*/
.contenido-central-proveedor{ position:relative; float:left; width:505px; height:auto; padding:0px 8px; }
.contenido-central-proveedor .titulo{ position:relative; float:left; width:100%; height:auto; background:#efefef; padding:4px 0px; }
.contenido-central-proveedor .titulo .nombre-rubro{ position:relative; float:left; width:auto; height:auto; padding:0 0 0 8px; color:#a657c2; text-transform: uppercase; font-weight:bold; }
.contenido-central-proveedor .titulo .regresar{ position:relative; float:right; width:auto; height:auto; padding:0 8px 0 0; color:#a657c2; }
.contenido-central-proveedor .titulo .regresar a{ color:#787878; }
.contenido-central-proveedor .titulo .regresar a:hover{ text-decoration:underline; }

.contenido-central-proveedor .articulos-relacionador{ position:relative; float:left; width:100%; }
.contenido-central-proveedor .articulos-relacionador .titulo-articulo{ position:relative; float:left; width:100%; height:auto; padding:5px 0px; }
.contenido-central-proveedor .articulos-relacionador .item-articulo{ position:relative; float:left; width:238px; height:auto; padding:0 7px 0 0; margin:0 7px 0 0; }
.contenido-central-proveedor .articulos-relacionador .borde{ border-right:1px solid #CCC;  }
.contenido-central-proveedor .articulos-relacionador .item-articulo img{ padding:0 6px 0 0; }
.contenido-central-proveedor .articulos-relacionador .item-articulo h4{ color:#b370cb; padding:3px 0px; }

.contenido-central-proveedor .proveedores-destacados{ position:relative; float:left; width:100%; }
.contenido-central-proveedor .proveedores-destacados .titulo{ position:relative; float:left; width:100%; height:auto; padding:2px 0px; margin:5px 0 0 0; background:#b370cb; color:#FFF; text-align:center; font-weight:bold; }
.contenido-central-proveedor .proveedores-destacados .item{ position:relative; float:left; width:auto; height:138px; padding:5px 2px; }
.contenido-central-proveedor .proveedores-destacados .item img{ border:1px solid #b370cb; }
.contenido-central-proveedor .proveedores-destacados .item a{ color:#b370cb; }


.contenido-central-proveedor .proveedores-normal{ position:relative; float:left; width:100%; }
.contenido-central-proveedor .proveedores-normal .titulo{ position:relative; float:left; width:100%; height:auto; padding:2px 0px; margin:5px 0 0 0; background:#b370cb; color:#FFF; text-align:left; font-weight:bold; }
.contenido-central-proveedor .proveedores-normal .titulo p{ padding:0 6px; }
.contenido-central-proveedor .proveedores-normal .item{ position:relative; float:left; width:168px; height:138px; padding:5px 2px; }
.contenido-central-proveedor .proveedores-normal .item img{ border:1px solid #b370cb; }
.contenido-central-proveedor .proveedores-normal .item a{ color:#b370cb; }