
/*	Cabecera	*/
#cabecera .banner-superior{ position:relative; float:left; width:100%; height:auto; padding:13px 0px; }
#cabecera .banner-superior .banner-addsense-cabecera{ position:relative; width:728px; height:90px; margin:0 auto 0 auto; background:#29bad4; }

#cuerpo .logo-opciones{ position:relative; float:left; width:100%; height:auto; padding:23px 0 0 0; }
#cuerpo .logo-opciones .logo{ position:relative; float:left; width:auto; height:auto; padding:0 0 0 23px; }

/*	Pie		*/
#window-pie-menu .menu{ width:auto; height:auto; margin:0 auto 0 auto; padding:2px 0; text-align:center; }
#window-pie-menu .menu a{ color:#333; padding:0 4px; font-weight:bold; }
#window-pie-menu .menu a:hover{ text-decoration:underline; }

#window-pie-datos .logo{ width:auto; height:auto; margin:0 auto 0 auto; padding:20px 0 0 0; text-align:center; }
#window-pie-datos .datos{ position:absolute; float:left; width:auto; height:auto; padding:20px 0 0 0; color:#CCC; }
#window-pie-datos .datos a{ color:#CCC;  }
#window-pie-datos .datos a:hover{ text-decoration:underline; }