/* CSS Document */

/* Menu */
.menu{ position:relative; float:left; width:970px; height:40px; padding:0 5px 0 5px; background:url(../imgs/borde_sombra.png) repeat-y; }
.ul_menu { clear: both; height: 40px;  margin: auto; padding: 0; width: 970px; }
.ul_menu li { float: left; list-style: none outside none; }

.mnu_item{ font:12px Arial; text-align:center; color:#FFF; position:relative; float:left; height:30px; display:block; background:url(../imgs/inactico.png) repeat-x; padding:13px 0 0 0; list-style:none outside none; font-weight:bold; }
.mnu_item:hover{ background:url(../imgs/sobre.png) repeat-x; }

.mnu_item1{ width:70px; }
.mnu_item2{ width:150px; }
.mnu_item3{ width:128px; }
.mnu_item4{ width:96px; }
.mnu_item5{ width:96px; }
.mnu_item6{ width:121px; }
.mnu_item7{ width:123px; }
.mnu_item8{ width:75px; }
.mnu_item9{ width:110px; }

#active{ background:url(../imgs/sobre.png) repeat-x; }

/*	Index	*/
.publicidad1{ position:relative; float:left; width:728px; height:90px; background:url(../imgs/bg_unbanner.png); margin:20px 0px 20px 130px; }
.publicidad2{ position:relative; float:left; width:970px; height:90px; background:url(../imgs/bg_duobanner.png); }
.publicidad3{ position:relative; float:left; width:970px; height:90px; background:url(../imgs/bg_tribanner.png); margin:20px 0px; }

.ban_doble1{ position:relative; float:left; width:auto; height:auto; }
.ban_doble2{ position:relative; float:left; width:auto; height:auto; padding:0 0 0 20px; }

.ban_sup02{ position:relative; float:left; width:970px; height:auto; background:url(../imgs/bg_ban02.png) no-repeat bottom center; background:url(../imgs/borde_sombra_cabecera.png) bottom no-repeat; padding:2px 5px 0 5px; }

.ban_otros{ position:relative; float:left; width:970px; height:90px; background:url(../imgs/borde_sombra.png); padding:0 5px 0 5px; margin:20px 0px; }

.publicidad_inferior{ position:relative; float:left; width:728px; height:auto; margin:20px 0px 20px 130px; }


.img_logo{ position:relative; float:left; left:-5px; }
.txt_logo01{ position:relative; float:left; width:150px; height:auto; padding:30px 0px 0px 0px; font-size:14px; font-weight:bold; color:#FFF; }
.txt_logo02{ position:relative; float:left; width:213px; height:auto; padding:20px 0px 0px 0px; font-size:12px; font-weight:bold; color:#000; }

.txt_logo02 img{ position:relative; float:left; width:auto; height:auto; }
.txt_logo02 b{ font-size:35px;}

.ban_txt03{ position:relative; float:left; width:auto; height:auto; padding:0px 0px 0px 16px; }

.galeria_flash{ position:relative; float:left; width:auto; height:auto; overflow:hidden; }
.redes{ position:relative; float:left; width:auto; height:auto; cursor:pointer; }

.redes .nuevo_banner{ position:relative; float:left; width:303px; height:245px; background:url(../imgs/envivo.jpg) no-repeat top center; }
.redes .nuevo_banner .programa_actual{ position:relative; float:left; width:280px; height:auto; padding:110px 0 0 10px; color:#FFF; font-size:12px; }
.redes .nuevo_banner .programa_actual p{ padding:3px 0px; }
.redes .nuevo_banner .programa_actual span{ float:right; }

.cont_izquierda{ position:relative; float:left; width:638px; height:auto; padding:10px; overflow:hidden; } * html .cont_izquierda { display:inline; }

.cont_derecha{ position:relative; float:left; width:301px; height:auto; padding:10px 0 0 0; overflow:hidden; } * html .cont_derecha { display:inline; }

/*	Noticias index	*/
.img2{ float:left; }
.div_img{ float:left; }
.bg_inx_texto_titulo{ padding:10px 10px 8px 10px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#FFF; font-size:13px; text-align:center; }

.tit_index_noticias{ position:relative; float:left; width:613px; height:36px; background:url(../imgs/borde_cen.png) repeat-x top center; padding:0px 10px 0px 10px; margin:0px 0 0 0; border-top:0px solid #FFA6A6; border-left:1px solid #FFA6A6; border-right:1px solid #FFA6A6; }
.tit_index_noticias p{ position:relative; float:left; }
.tit_index_noticias p a{ color:#FFFFFF; position:relative; float:left; }
.tit_index_noticias p a:hover{ position:relative; float:left; text-decoration:underline; }

.item_index_noticia{ position:relative; float:left; width:139px; height:auto; padding:0 9px; border-right:1px solid #D7D8DA; margin:12px 0px; }
.item_index_noticia .imagen{ position:relative; float:left; width:132px; height:102px; text-align:center; overflow:hidden; }
.item_index_noticia .txt{ position:relative; float:left; width:132px; min-height:35px; text-align:center;  font-size:12px; color:#969696; text-align:left; padding:6px 3px; }
.item_index_noticia .btn{ position:relative; float:left; width:50px; height:auto; font-weight:bold; color:#FFF; background:#FF4040; text-align:center; vertical-align:middle; font-size:10px; padding:4px 0px 4px 0px; cursor:pointer; }

.sep_noticia{ position:relative; float:left; width:1px; height:auto; margin:10px 0 0 0; background:#EBEBEB; }

.pag_inx_noticias{ position:relative; float:left; width:99.5%; height:auto; padding:5px 0px; text-align:right; border-bottom:1px solid #FFBCBC; border-top:1px solid #FFBCBC; }
.pag_inx_noticias img{ padding:0px 4px; }

.cont_noticias_secundarias{ position:relative; float:left; width:633px; height:auto; border-bottom:1px solid #FFA6A6; border-left:1px solid #FFA6A6; border-right:1px solid #FFA6A6; background:#E7E8EA; }

/*	Siguenos	*/
.tit_inx_siguenos{ position:relative; float:left; width:300px; height:35px; background:url(../imgs/borde_cen.png) repeat-x bottom center; padding:10px 0 0 0; }
.tit_inx_siguenos p{ position:relative; float:left; }

.inx_siguenos .cont_items{ position:relative; float:left; width:298px; height:auto; border:1px #FFA6A6 solid; padding:5px 0 5px 0; text-align:center; }
.pub01{ position:relative; float:left; width:300px; height:250px; padding:10px 0px; }

/*	Suscribete	*/
.inx_suscribete{ position:relative; float:left; width:auto; height:auto; padding:8px 0 0 0; cursor:pointer; }
.tit_inx_suscribete{ position:relative; float:left; width:300px; height:35px; background:url(../imgs/borde_cen.png) repeat-x bottom center; padding:10px 0 0 0; }

.tit_inx_suscribete .inx_tit_suscribete{ padding:4px 10px 8px 4px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#FFF; font-size:16px; text-align:center; }

.inx_suscribete a{ color:#787878;  }
.inx_suscribete a:hover{ text-decoration:underline; }


.inx_suscribete .cont_items{ font-size:15px; font-weight:bold; position:relative; float:left; width:298px; height:auto; border:1px #FFA6A6 solid; padding:5px 0 5px 0; text-align:center; }

/*	Ranking		*/
.tit_inx_ranking{ position:relative; float:left; width:300px; height:35px; background:url(../imgs/borde_cen.png) repeat-x bottom center; padding:10px 0 0 0; }
.tit_inx_ranking p{ position:relative; float:left; }
.tit_inx_ranking p a{ color:#FFFFFF; position:relative; float:left; }
.tit_inx_ranking p a:hover{ position:relative; float:left; text-decoration:underline; }

.inx_ranking .cont_items{ position:relative; float:left; width:298px; height:auto; border:1px #FFA6A6 solid; padding:5px 0 0 0; text-align:center; }

.rank_item{ position:relative; float:left; width:298px; min-height:40px; background:url(../imgs/bg_rank_inx.jpg) no-repeat bottom right; padding:4px 0px; border-bottom:1px solid #CCC; }

.rank_item .puesto{ position:relative; float:left; width:79px; height:auto; padding:6px 0; margin:4px; text-align:center; color:#FFF; font-size:12px; background:#F00; }

.rank_item .muestra{ position:relative; float:left; width:30px; height:auto; text-align:left; padding:3px 0px 0px 3px; }
.rank_item .txt{ position:relative; float:left; width:210px; height:auto; text-align:left; padding:3px 7px; }
.rank_item .txt .programa{ font-size:10px; }
.rank_item .txt .tema{ font-size:11px; }

.rank_item2{ position:relative; float:left; width:276px; min-height:40px; padding:4px 0px; border-bottom:1px solid #999; }

.rank_item2 .puesto{ position:relative; float:left; width:79px; height:auto; padding:6px 0; margin:4px; text-align:center; color:#FFF; font-size:12px; background:#F00; }

.rank_item2 .muestra{ position:relative; float:left; width:30px; height:auto; text-align:left; padding:3px 0px 0px 3px; }
.rank_item2 .txt{ position:relative; float:left; width:210px; height:auto; text-align:left; padding:3px 7px; }
.rank_item2 .txt .programa{ font-size:10px; }
.rank_item2 .txt .tema{ font-size:11px; }

/*	Programas	*/
.cont_programas{ position:relative; float:left; width:313px; height:auto; }
.tit_inx_programas{ position:relative; float:left; width:313px; height:36px;  background:url(../imgs/borde_cen.png) repeat-x bottom center; padding:10px 0 0 0; }
.tit_inx_programas p{ position:relative; float:left; }

.cnt_inx_programas{ position:relative; float:left; width:311px; height:325px; border:1px #FFA6A6 solid;}
.itm_programa{ position:relative; float:left; width:auto; height:90px; padding:4px 0px; }
.itm_programa .img{ position:relative; float:left; width:110px; height:auto; padding:5px; text-align:center; }
.itm_programa .txt{ position:relative; float:left; width:180px; height:auto; padding:5px; }
.itm_programa .txt b{ font-size:13px; font-weight:bold; color:#000; }
.itm_programa .txt p{ padding:6px 0px; }

.mas_info{ position:relative; float:left; width:95%; height:auto; text-align:right; }
.mas_info a{ color:#F00; }
.mas_info a:hover{ text-decoration:underline; }

/*	Concursos	*/
.cont_inx_concursos{ position:relative; float:left; width:313px; height:auto; padding:0 0 0 10px; }
.tit_inx_concursos{ position:relative; float:left; width:313px; height:36px;  background:url(../imgs/borde_cen.png) repeat-x bottom center; padding:10px 0 0 0; }
.tit_inx_concursos p{ position:relative; float:left; }

.cnt_inx_concursos{ position:relative; float:left; width:311px; height:325px; border:1px #FFA6A6 solid; }
.cnt_inx_concursos .img{ position:relative; float:left; padding:10px; width:287px; height:280px; text-align:center; overflow:hidden; }
.cnt_inx_concursos .img .imagen{ top:10px !important; left:10px !important;}

.cont_seccion{ position:relative; float:left; width:313px; height:auto; }
.cont_seccion2{ position:relative; float:left; width:313px; height:auto; padding:0 0 0 10px; }
.cont_seccion3{ position:relative; float:left; width:300px; height:auto; }
.tit_inx{ position:relative; float:left; width:100%; height:35px; background:url(../imgs/borde_cen.png) repeat-x bottom center; padding:10px 0 0 0; }
.tit_inx p{ position:relative; float:left; }
.cnt_inx1{ position:relative; float:left; width:304px; height:325px; border:1px #FFA6A6 solid; padding:7px 0 0 7px; }
.cnt_inx1_bg{ position:relative; float:left; padding:65px 0 0 7px; background:url(../imgs/tvinsomnio.jpg) center center no-repeat; border:none !important; }
.cnt_inx2{ position:relative; float:left; width:291px; height:325px; border:1px #FFA6A6 solid; padding:7px 0 0 7px; }
.inx_img_evento{ position:relative; float:left; overflow:hidden; width:295px; height:236px; text-align:center; }
.inx_txt_evento{ position:relative; float:left; width:295px; height:auto; }
.inx_txt_evento b{ color:#FF0000; font-weight:bold; }
.inx_txt_evento p{ padding:1px 0px; }

/*	Pie de pagina	*/
.menu_inf1{ position:relative; float:left; width:100%; height:22px; background:url(../imgs/bg_pie_pagina.jpg) no-repeat top center; background-color:#FFF; }
.menu_inf2{ position:relative; float:left; width:100%; height:auto; }
.sep_footer{ position:relative; float:left; width:100%; height:auto; text-align:center; }
.logo_2{ position:relative; float:left; width:auto; height:auto; padding:15px 0px 0px 10px; }
.txt_footer{ position:relative; float:left; width:470px; height:auto; font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#000000; text-align:center; padding:24px 0 0 0; }
.log_service_comput{ position:relative; float:left; width:auto; height:auto; padding:11px 4px; text-align:center; font-size:10px; }

/*	Menu pe de pagina	*/
.f_menu{ position:relative; float:left; width:970px; height:auto; }
.ul_menu { clear: both; height: auto;  margin: auto; padding: 0; width: 970px; }
.ul_menu li { float: left; list-style: none outside none; font-weight:bold; }

.f_mnu_item{ font-family:Arial, Helvetica, sans-serif; font-size:17px; text-align:center; color:#969696; position:relative; float:left; height:20px; display:block; padding:10px 8px; font-weight:bold; }

.f_mnu_item:hover{ color:#FF0000; }
#f_mnu_item{ color:#FF0000; }



/*	contacto footer	*/
.contacto_footer{ position:relative; float:left; width:190px; height:auto; }
.contacto_footer img{ padding:20px 4px; }
.contacto_footer p{ padding:10px 0px 0px 0px; }
.contacto_footer b{ color:#000000; font-weight:bold; font-size:34px; letter-spacing:-2px; }
#special{ padding:0px; }

/*	QUIENES SOMOS	*/
.cont_quienes_somos{ position:relative; float:left; width:636px; height:auto; margin:10px; border:2px solid #E9898A; } * html .cont_quienes_somos { display:inline; }

.cont_quienes_somos b{ color:#FF0000; font-weight:bold; font-size:16px; }
.cont_quienes_somos p{ padding:16px 10px 5px 10px; font-size:16px; text-align:justify; } * html .cont_quienes_somos { display:inline; }
.sep_somos{ position:relative; float:left; width:96%; height:2px; background:#F2F2F2; margin:4px 10px; overflow:hidden; } * html .sep_somos { display:inline; }
.sms_special{ font-weight:bold; font-size:14px; }

.cont_quienes_somos ul{ padding:2px 0px 18px 9px; list-style:none;}
.cont_quienes_somos li{ padding:8px 10px 0 28px; background:url(../imgs/icono02.jpg) no-repeat; }
.cont_quienes_somos a{ color:#333333; font-weight:bold; }
.cont_quienes_somos a:hover{ color:#FF0000; text-decoration:underline; }

.contacto_quienes_somos{ position:relative; float:left; width:100%; height:auto; padding:10px 0 0 0; }
.frm_titulo{ position:relative; float:left; width:600px; height:auto; color:#FF0000; font-size:20px; padding:10px 0px; margin:0 10px; font-family:arial,helvetica,sans-serif; border-top:1px solid #CCC; }
.frm_subtit{ position:relative; float:left; width:600px; height:auto; padding:10px 0px; margin:0 10px; }

.formulario_quienes_somos{ position:relative; float:left; width:100%; height:auto; padding:10px 0 10px 0; }
#frm_quienessomos .txt{ width:300px; border:1px solid #CCC; }
#frm_quienessomos .area{ width:300px; height:100px; border:1px solid #CCC; }
.btnEnviarSomos{ position:relative; float:left; width:auto; height:auto; padding:3px 0 0 155px; }
.btnEnviarSomos .btn{ background:#C1C1C1; }

/*	PROGRAMACION	*/
.cont_programacion{ position:relative; float:left; width:946px; height:auto; margin:10px; border:1px solid #C7C7C7; } * html .cont_programacion { display:inline; }

.cont_prog_semanal{ position:relative; float:left; width:100%; height:39px; }

.prog_menu{ position:relative; float:left; width:783px; height:39px; }
.prog_ul_menu { clear: both; height: 39px;  margin: auto; padding: 0; width: 783px; }
.prog_ul_menu li { float: left; list-style: none outside none; }

.prg_itm_menu{ font-family:Arial, Helvetica, sans-serif; font-size:17px; text-align:center; color:#646464; position:relative; float:left; width:112px; height:30px; display:block; background:#C7C7C7; padding:10px 0 0 0; }
.prg_itm_menu:hover{ color:#FFFFFF; background:url(../imgs/sobre.png) repeat-x; }
#prg_itm_atv{ color:#FFFFFF; background:url(../imgs/sobre.png) repeat-x; }

.prog_spl{ width:111px !important; }
.tit_seccion_prog{ position:relative; float:left; width:163px; height:28px; text-align:center; padding:11px 0 0 0; font-size:15px; color:#FF0000; font-weight:bold; } * html .tit_seccion_prog { display:inline; }

.cont_itm_programa{ position:relative; float:left; width:930px; height:auto; border-top:1px solid #C7C7C7; padding:8px; }

/*	LISTA DE PROGRAMAS	*/
.top_itm_prg1{ position:relative; float:left; width:100%; height:auto; background:url(../imgs/arw_auspiciado.jpg) no-repeat right center; }
.top_itm_prg2{ position:relative; float:left; width:100%; height:auto; }

.horario_prg{ position:relative; float:left; width:155px; height:28px; background:url(../imgs/sobre.png) repeat-x; text-align:center; padding:12px 0 0 0; color:#FFFFFF; }
.nombre_prg1{ position:relative; float:left; width:418px; height:28px; background:#E5E5E5; padding:12px 0 0 10px; color:#646464; }
.nombre_prg2{ position:relative; float:left; width:418px; height:28px; background:#308EC8; padding:12px 0 0 10px; color:#FFFFFF; }

.tipo_prg1{ position:relative; float:left; width:20px; height:18px; margin:20px 0 0 0; color:#FFFFFF; background:#FF7F00; text-align:center; padding:2px 0 0 0; }

.tipo_prg2{ position:relative; float:left; width:20px; height:18px; margin:20px 0 0 0; color:#FFFFFF; background:#0068DB; text-align:center; padding:2px 0 0 0; }

.imagen_prg{ position:relative; float:left; width:603px; height:250px; }
.sep01_prg{ position:relative; float:left; width:1px; height:250px; background:#E3E3E3; margin:0px 10px; } * html .sep01_prg { display:inline; }
.patr_prg{ position:relative; float:left; width:300px; height:250px; }

/*	TIPADO PROGRAMACION	*/
.prg_tip{ position:relative; float:right; width:100px; height:31px; }
.tipE{ position:relative; float:left; width:13px; height:13px; color:#FFFFFF; background:#FF7F00; text-align:center; font-size:10px; }
.tipR{ position:relative; float:left; width:13px; height:13px; color:#FFFFFF; background:#0068DA; text-align:center; font-size:10px; }
.txtE{ position:relative; float:left; width:80px; height:18px; padding:2px 0 0 0; font-size:10px; }

/*	STAFF	*/
.cont_staff{ position:relative; float:left; width:636px; height:auto; margin:10px; border:1px solid #FFBCBC; } * html .cont_staff { display:inline; }

.staf_menu{ position:relative; float:left; width:100%; height:40px; background:url(../imgs/bg_pag_blog.png) repeat-x center center; font-weight:bold; }
.staf_ul_menu { clear: both; height: 39px;  margin: auto; padding: 0; width: 100%; }
.staf_ul_menu li { float: left; list-style: none outside none; }

.staf_itm_menu{ font-family:Arial, Helvetica, sans-serif; font-size:15px; text-align:center; color:#999; position:relative; float:left; width:165px; height:28px; display:block; padding:10px 0 0 0; }
.staf_itm_menu:hover{ color:#FF0000; background:#FFFFFF; }
#staf_itm_atv{ color:#FFF; background:url(../imgs/bg_pie.png) repeat-x center center; }

.cnt_item_staf{ position:relative; float:left; width:142px; height:180px; margin:8px 0px 8px 8px; padding:5px 0px 5px 5px; border-right:1px solid #EBEBEB; font:10px tahoma; } * html .cnt_item_staf { display:inline; }
.sqr_staf01{ position:relative; float:left; width:7px; height:7px; background:#959595; margin:4px 4px 0px 0px; overflow:hidden; }

.itm_img_staf{ position:relative; float:left; width:100%; height:auto; float:left; text-align:center; height:110px; overflow:hidden; }
.itm_pst_staf{ position:relative; float:left; width:100%; height:auto; float:left; padding:4px 0px; color:#323232; font-weight:bold; }
.itm_nom_staf{ position:relative; float:left; width:100%; height:auto; float:left; padding:4px 0px; color:#323232; }
.gadget_staf{ position:relative; float:left; width:100%; height:auto; float:left; text-align:center; padding:3px 0px; }

.sep02_prg{ position:relative; float:left; width:930px; height:1px; background:#EBEBEB; margin:0px 10px; overflow:hidden; } * html .sep02_prg { display:inline; }

/*	EVENTOS	*/
.cont_eventos{ position:relative; float:left; width:636px; height:auto; margin:10px; border:1px solid #FFBCBC; } * html .cont_eventos { display:inline; }

.titulo_detalle_seccion{ font-size:18px !important; padding:4px 0px; }

.tit_eventos{ position:relative; float:left; width:100%; height:auto; background:url(../imgs/borde_cen.png) repeat-x bottom center; }
.tit_eventos p{ position:relative; float:left; margin:0px 0px 0px 8px; } * html .tit_eventos p { display:inline; }

.pag_eventos{ position:relative; float:right; height:38px; width:320px; background:url(../imgs/bg_pag_blog2.png) center bottom repeat-x; }* html .pag_eventos { display:inline; width:220px; }
.pag_eventos2{ position:relative; float:left; width:auto; height:30px; padding:8px 0 0 480px; }

.itm_evento1{ position:relative; float:left; width:604px; height:auto; color:#5B5758; padding:0 0 10px 0; margin:0 16px 10px 16px; border-bottom:1px solid #EAEAEA; }

.itm_img_evento{ position:relative; float:left; width:130px; height:94px; text-align:center; padding:14px 19px 14px 0px; overflow:hidden; }
.itm_fec_evento{ position:relative; float:left; width:100%; height:auto; font-size:9px; padding:16px 0 0 0; }
.itm_tit_evento{ position:relative; float:left; width:100%; height:auto; font-size:19px; font-weight:bold; padding:3px 0px; }
.itm_tit_evento a{ color:#FF7777; }
.itm_tit_evento a:hover{ text-decoration:underline; }
.itm_des_evento{ position:relative; float:left; width:100%; font-size:11px; min-height:60px; }
.cnt_item_noteve{ position:relative; float:left; width:400px; height:auto;}
.num_coment{ position:relative; float:right; width:22px; height:26px; background:url(../imgs/nube.png) no-repeat; background-repeat:no-repeat; text-align:center; margin:20px 0px 0 10px; color:#FF4040; }

.com_ver_mas{ position:relative; float:left; width:110px; height:auto; padding:0 0 0 350px; }
.com_ver_mas .ver_mas{ position:relative; float:left; width:49px; height:15px; color:#FFF; background:#FF4040; text-align:center; vertical-align:middle; font-size:10px; padding:2px 0 0 0; cursor:pointer; }
#paginationdemo{ position:relative; float:left; width:auto; height:auto; }

/*	DETALLE DE EVENTO	*/
.tit_det_evento{ position:relative; float:left; width:110px; height:31px; padding:14px 0 0 0; border-left:1px solid #FFBCBC; border-right:1px solid #FFBCBC; border-top:1px solid #FFBCBC; color:#FF0000; font-size:16px; font-weight:bold; margin:0 500px 0 0; text-align:center; }
.sep_tit_deteven{ position:relative; float:left; width:527px; height:1px; margin:0 0 0 111px; background:#FFBCBC; overflow:hidden; } * html .sep_tit_deteven { display:inline; }
.cont_evento_detalle{ position:relative; float:left; width:636px; height:auto; margin:10px; } * html .cont_evento_detalle { display:inline; }

.cont_evento_detalle .titulo_general{ position:relative; float:left; width:636px; height:auto; border:1px solid #FFD3D2; background:#DB1921; }
.cont_evento_detalle .titulo_general .texto_titulo{ position:relative; float:left; height:auto; width:auto; padding:10px 0 10px 10px; font-size:15px; color:#FFF; }
.cont_evento_detalle .titulo_general .paginacion{ position:relative; float:right; height:38px; width:530px; background:url(../imgs/bg_pag_blog.png) repeat-x; } 


.cont_int_evento{ position:relative; float:left; width:606px; height:auto; border-left:1px solid #FFBCBC; border-right:1px solid #FFBCBC; border-bottom:none; padding:10px 15px 0 15px; } * html .cont_int_evento { display:inline; }

.cont_int_evento .titulo{ position:relative; float:left; width:540px; font-size:26px; font-weight:bold; padding:17px 0px 10px 0px; color:#F00; }
.cont_int_evento .numero_comentarios{ position:relative; float:right; width:37px; height:37px; padding:10px 5px 5px 5px; background:url(../imgs/nube2.png) center center no-repeat; text-align:center; font-size:23px; color:#F00; }
.cont_int_evento .autor{ position:relative; float:left; width:100%; height:auto; font-style:italic; border-top:1px solid #CCC; border-bottom:1px solid #CCC; padding:10px 0px; margin:10px 0px; }
.cont_int_evento .imagen{ position:relative; float:left; width:100%; height:auto; }
.cont_evento_detalle .redsocial{ border:1px solid #FFBCBC; margin-bottom:10px; }
.cont_evento_detalle .mas_post .items{ border:1px solid #FFBCBC; }
.cont_evento_detalle .mas_post .titulo{ color:#F00; }
.cont_evento_detalle .tit_cont_comentarios{ position:relative; float:left; width:608px; height:auto; padding:10px 15px; margin:10px 0px 0px 0px; background:#F00; color:#FFF; font-size:20px; font-weight:bold; }


.cont_int_evento2 .item_articulo{ width:520px; background:#F2F2F2; border:1px solid #E0E0E0; margin:10px 0px; padding:5px 0px 5px 80px; }
.cont_int_evento2 .item_articulo div{ position:relative; float:left; width:400px !important; height:auto; }
.cont_int_evento2 .item_articulo .numero_comentario{ position:absolute; width:100px !important; padding:4px; font-size:45px; font-style:italic; text-align:center; right:0px; top:0px; color:#D1D2D4; }

.cont_int_evento2 .item_articulo .nombre{ padding:10px 0px; }
.cont_int_evento2 .item_articulo .nombre b{ color:#<?php echo $objBlog->link1; ?>; }


.img_detalle_evento{ position:relative; float:left; width:100%; height:auto; text-align:center; }

.cnt_txt_detalle_evento{ position:relative; float:left; width:614px; height:auto; padding:10px; }
.cnt_txt_detalle_evento .txt{ position:relative; float:left; width:520px; height:auto; padding:0px 6px; }	
.cnt_txt_detalle_evento .fec{ font-size:9px; }
.cnt_txt_detalle_evento b{ font-weight:bold; color:#FF0000; }
.cnt_txt_detalle_evento .txt p{ margin:5px 0px; color:#666666; }
.cnt_txt_detalle_evento .cont{ position:relative; float:left; width:79px; height:auto; background:url(../imgs/nube2.png) no-repeat top center; text-align:center; }
.cnt_txt_detalle_evento .num{ color:#FF0000; font-size:20px; padding:5px 0px; }
.cnt_txt_detalle_evento .spe{ padding:10px 0px; font-size:10px; }

.detalle_redes_sociales{ position:relative; float:left; width:614px; border-top:2px solid #EBEBEB; margin:0px 10px; overflow:hidden; } * html .detalle_redes_sociales { display:inline; }
.detalle_redes_sociales .correo_compartir{ position:relative; float:left; width:auto; height:auto; padding:13px 16px; margin:10px 0px; border-right:2px solid #EBEBEB; cursor:pointer; text-align:center; color:#999999; font-weight:bold; } * html .detalle_redes_sociales .correo_compartir { display:inline; cursor:pointer; }

.detalle_redes_sociales .logo_red_social{ position:relative; float:left; width:53px; height:auto; padding:23px 10px; text-align:center; }
.detalle_redes_sociales .logo_red_social a{ color:#999999; font-weight:bold; }
.detalle_redes_sociales .logo_red_social a:hover{ color:#333333; }

.form_compartir_evento{ position:relative; float:left; width:616px; height:auto; padding:10px; background:#e5e5e5; overflow:hidden; display:none; } * html .form_compartir_evento{ display:inline; display:block; }

.col01{ position:relative; float:left; width:260px; height:auto; }
.col01 .txt{ border:1px solid #d1d1d1; width:172px; height:18px; padding:0px 6px; }
.col01 .area{ border:1px solid #d1d1d1; width:174px; height:60px; padding:5px; }
.form_compartir_evento .btn{ background:#323232; color:#FFFFFF; height:18px; margin:2px 0 0 24px; font-family:Arial, Helvetica, sans-serif; font-size:11px; cursor:pointer; }

.cont_int_evento2{ position:relative; float:left; width:606px; height:auto; padding:5px 15px;  border-left:1px solid #FFBCBC; border-right:1px solid #FFBCBC; border-bottom:1px solid #FFBCBC; } * html .cont_int_evento2 { display:inline; }
.cont_int_evento2 .tit_eventos{ position:relative; float:left; width:636px; height:35px; background:url(../imgs/borde_cen.png) repeat-x bottom center; }
.cont_int_evento2 .tit_eventos p{ position:relative; float:left; margin:0px 0px 0px 8px; }

.cnt_det_even_comentario1{ position:relative; float:left; width:100%; height:auto; }
.cnt_det_even_comentario2{ position:relative; float:left; width:100%; height:auto; background:#E5E5E5; }

.num_fec_coment{ position:relative; float:left; width:100%; height:auto; }
.num_fec_coment #b1{ position:relative; float:left; width:30px; height:24px; padding:6px 0 0 0; background:#E3E3E3; text-align:center; }
.num_fec_coment #b2{ position:relative; float:left; width:30px; height:24px; padding:6px 0 0 0; background:#A6A6A6; text-align:center; color:#FFFFFF; }
.num_fec_coment p{ position:relative; float:left; width:240px; height:24px; padding:6px 0 0 5px; }

.tit_coment{ position:relative; float:left; width:97%; height:auto; padding:4px 0px 0px 8px; color:#FF0000; font-weight:bold; font-size:12px; }
.com_coment{ position:relative; float:left; width:97%; height:auto; padding:8px 8px; }

/*	Formulario comentarios de evento	*/
.cont_int_evento3{ position:relative; float:left; width:100%; height:auto; border:1px solid #FFBCBC; margin:10px 0 0 0; }* html .cont_int_evento3 { display:inline; }
.tit_comentarios{ position:relative; float:left; width:614px; height:17px; padding:10px 12px; background:#E5E5E5; color:#FF0000; font-size:15px; font-weight:bold; margin:0 0 10px 0; }
.cont_int_evento3 .txt{ position:relative; float:left; width:442px; height:17px; background:#e5e5e5; border:1px solid #afafaf; padding:4px; margin:1px; }
.cont_int_evento3 .area{ position:relative; float:left; width:442px; height:127px; background:#e5e5e5; border:1px solid #afafaf; padding:4px; margin:1px; }
.cont_int_evento3 .btn{ float:right; margin:4px 28px; background:url(../imgs/borde_cen.png) repeat-x; color:#FFFFFF; cursor:pointer; }

/*	CONCURSOS	*/
.cont_concursos{ position:relative; float:left; width:636px; height:auto; margin:10px; border:1px solid #FFBCBC; } * html .cont_concursos { display:inline; }
* html .cont_concursos{ display:inline; }
.cont_concursos .imagen{ position:relative; float:left; width:297px; height:290px; overflow:hidden; margin:8px; }

.cont_concursos .tit_concursos{ position:relative; float:left; width:680px; height:35px; background:url(../imgs/borde_cen.png) repeat-x bottom center; }
.cont_concursos .tit_concursos p{ position:relative; float:left; margin:0px 0px 0px 8px; } * html .tit_eventos p { display:inline; }
.cont_concursos .pag_concursos{ position:relative; float:left; width:auto; height:auto; padding:8px 10px; }* html .pag_eventos { display:inline; width:220px; }

/*	AUSPICIADORES	*/
.cont_auspiciadores{ position:relative; float:left; width:946px; height:auto; margin:10px; overflow:hidden; border:1px solid #d5d5d5; }* html .cont_auspiciadores{ display:inline; }
.tit_auspiciadores{ position:relative; float:left; width:930px; height:auto; padding:10px; font-size:14px; color:#FF0000; font-weight:bold; }
.aus_ban_2_1{ position:relative; float:left; width:615px; height:251px; margin:6px; border:1px solid #CCCCCC; overflow:hidden; }* html .aus_ban_2_1{ display:inline; }
.aus_ban_1_1{ position:relative; float:left; width:301px; height:251px; margin:6px; border:1px solid #CCCCCC; overflow:hidden; }* html .aus_ban_1_1{ width:300px; display:inline; }

/*	FOTOS	*/
.cont_fotos{ position:relative; float:left; width:948px; height:auto; margin:10px 10px 0px 10px; overflow:hidden; background:#313131; } * html .cont_fotos{ display:inline; }


.cont_comentarios_fotos{ position:relative; float:left; width:636px; height:auto; margin:10px; }* html .cont_comentarios_fotos { display:inline; }

.cont_imagen_grande{ position:relative; float:left; width:768px; min-height:630px; background:#313131; }
.cont_imagen_grande .tit_img_grande{ position:relative; float:left; width:70px; height:auto; padding:0px 22px; margin:18px 0 0 0; font-size:16px; font-weight:bold; border-right:2px solid #969696; }
.cont_imagen_grande .imagen_grande{ position:relative; float:left; width:100%; height:auto; }
.imagen_grande .arw_left{ position:relative; float:left; width:auto; height:auto; padding:186px 6px 0 6px; }
.imagen_grande .img_grande_centro{ position:relative; float:left; width:680px; height:420px; padding:8px; text-align:center; }
.imagen_grande .arw_right{ position:relative; float:left; width:auto; height:auto; padding:186px 6px 0 6px; }


.cont_imagen_izquierda{ position:relative; float:left; width:180px; height:630px; background:#000000; }
.cont_imagen_izquierda .tit_img_slider{ position:relative; float:left; width:130px; height:auto; padding:0px 22px; margin:18px 0 10px 0; font-size:16px; font-weight:bold; }

.slider_scroll{ position:relative; float:left; width:170px; height:572px; padding:5px; overflow:auto; }
.cont_imagen_izquierda .item_slider{ position:relative; float:left; width:140px; height:auto; padding:5px; }
.item_slider .foto_slider{ position:relative; float:left; text-align:center; width:100%; min-height:110px; }
.item_slider .txt_slider{ position:relative; float:left; width:100%; height:auto; padding:3px 0px; }
.item_slider .txt_slider a{ color:#999; }
.item_slider .txt_slider a:hover{ text-decoration:underline; }

.cnt_txt_fotos{ position:relative; float:left; width:666px; height:auto; padding:0px 0 0 45px; }
.cnt_txt_fotos .txt{ position:relative; float:left; width:570px; height:auto; padding:0px 6px; }
.cnt_txt_fotos .fec{ font-size:9px; }
.cnt_txt_fotos b{ font-weight:bold; color:#FF0000; }
.cnt_txt_fotos .txt p{ margin:5px 0px; }
.cnt_txt_fotos .cont{ position:relative; float:left; width:79px; height:auto; background:url(../imgs/nube2.png) no-repeat top center; text-align:center; }
.cnt_txt_fotos .num{ color:#FF0000; font-size:20px; padding:5px 0px; }
.cnt_txt_fotos .spe{ padding:10px 0px; font-size:10px; }


.fotos_redes_sociales{ position:relative; float:left; width:614px; height:auto; border-top:2px solid #272727; margin:0px 0px 0px 50px; overflow:hidden; } * html .fotos_redes_sociales { display:inline; }
.fotos_redes_sociales .correo_compartir_galeria{ position:relative; float:left; width:auto; height:auto; padding:5px 16px; margin:10px 0px; border-right:2px solid #272727; overflow:hidden; } * html .detalle_redes_sociales .correo_compartir_galeria { display:inline; }
.fotos_redes_sociales .logo_red_social{ position:relative; float:left; width:53px; height:auto; padding:13px 10px; text-align:center; }
.fotos_redes_sociales .logo_red_social a{ color:#999999; font-weight:bold; }
.fotos_redes_sociales .logo_red_social a:hover{ color:#CCCCCC; }
.item_lb2 .error{ position:relative; float:left; margin:0px; text-align:left; width:120px !important; }

.cont_form_fotos{ position:relative; float:left; width:948px; min-height:42px; margin:0 0 0 10px; padding:22px 0 5px 0; overflow:hidden; background:#AEAEAE; display:none; } 
* html .cont_form_fotos{ display:inline; display:block; }

.cont_form_fotos .item_lbl{ position:relative; float:left; width:80px; height:auto; padding:0px 20px; text-align:right; }
.item_lbl label{ width:100%; text-align:right; }
.item_lbl .btn{ background:#313131; color:#FFFFFF; cursor:pointer; }
.cont_form_fotos .item_lb2{ position:relative; float:left; width:auto; height:auto; padding:0px 0px; }

/*	CONTACTO	*/
.cont_contacto{ position:relative; float:left; width:948px; height:auto; margin:10px 10px 0px 10px; overflow:hidden; border:1px solid #FFA6A6; } * html .cont_contacto{ display:inline; }
.cabecera_contacto{ position:relative; float:left; width:100%; height:117px; background:#e5e5e5; }
.logo_contacto{ position:relative; float:left; width:auto; height:auto; padding:20px 0 0 30px; }
.telefono_oficina{ position:relative; float:left; width:240px; height:auto; padding:30px 0 0 100px; font-weight:bold; }
.telefono_oficina img{ padding:20px 8px 0 8px; }
.telefono_oficina b{ color:#FF0000; font-size:34px; }
.telefono_oficina p{ color:#646464; font-size:16px; }
.direccion_oficina{ position:relative; float:left; width:auto; height:auto; padding:40px 0 0 80px; font-weight:bold; }
.direccion_oficina b{ color:#FF0000; font-size:13px; }
.direccion_oficina p{ color:#646464; font-size:13px; }

.contacto_areas{ position:relative; float:left; width:100%; height:auto; }
.itm_contacto_area{ position:relative; float:left; width:314px; height:56px; margin:7px 0; border-right:2px solid #e5e5e5; }
.itm_contacto_area b{ color:#FF0000; font-size:14px; }
.itm_contacto_area p{ padding:3px 0 0 10px; }

/*	RANKING	*/
.cont_ranking{ position:relative; float:left; width:948px; height:auto; margin:10px 10px 0px 10px; overflow:hidden; border:1px solid #FFA6A6; } * html .cont_ranking{ display:inline; padding:0 0 5px 0; }

.tit_ranking{ position:relative; float:left; width:100%; height:36px;  background:url(../imgs/borde_cen.png) repeat-x bottom center;  }
.tit_ranking p{ position:relative; float:left; }

.cont_itm_ranking{ position:relative; float:left; width:100%; height:auto; overflow:hidden; } * html .cont_itm_ranking{ display:inline; }

.itm_ranking{ position:relative; float:left; width:300px; height:289px; margin:6px; border:1px solid #0b0b0b; overflow:hidden; } * html .itm_ranking{ display:inline; }

.itm_ranking .imagen{ position:relative; float:left; width:300px; height:210px; overflow:hidden; text-align:center; background:#000000; }
.itm_ranking .titulo{ position:relative; float:left; width:95%; height:auto; padding:5px 4px; color:#FFFFFF; font-size:11px; }
.itm_ranking .programa{ position:relative; float:left; width:95%; height:auto; padding:0 0 5px 4px; color:#FF0000; font-size:14px; }
.itm_ranking .reproductor{ position:relative; float:left; width:95%; height:auto; padding:5px 6px; }

.ingreso_semana{ position:relative; float:left; width:613px; height:289px; margin:7px; background:url(../imgs/img_borde_superior.png) repeat-x top center; background-color:#000000; }

.ingreso_semana .p01{ position:relative; float:left; width:100%; height:auto; color:#FF0000; font-size:20px; text-align:center; padding:40px 0 10px 0; }
.ingreso_semana .p02{ position:relative; float:left; width:100%; height:auto; color:#FFFFFF; font-size:35px; text-align:center; padding:10px 0 0 0; }
.ingreso_semana .p03{ position:relative; float:left; width:auto; height:auto; text-align:center; padding:5px 165px; margin:0 0 0 130px; }
.ingreso_semana .p04{ position:relative; float:left; width:294px; height:auto; color:#FFFFFF; font-size:14px; text-align:center; padding:0 0 0 160px; }


.frm_vota_ranking{ position:relative; float:left; width:300px; height:179px; background:url(../imgs/bg_frm_vota.jpg) no-repeat top center; padding:110px 0 0 0; margin:6px; border:1px solid #0b0b0b; } * html .frm_vota_ranking{ display:inline; }
.frm_vota_ranking .txt{ border:1px solid #666666; width:200px; }
.frm_vota_ranking .sel{ border:1px solid #666666; width:202px; margin:0 0 4px 0; }
.frm_vota_ranking .area{ border:1px solid #666666; width:200px; }
.frm_vota_ranking .btn{ background:url(../imgs/bg_boton_ranking.jpg) repeat-x top center; color:#333333; }
.frm_vota_ranking .cnt_btn{ position:relative; float:left; width:auto; height:auto; padding:4px 0 0 80px; }

.cont_auspiciador{ position:relative; float:left; width:300px; height:auto; background-color:#000000; margin:6px; overflow:hidden; } * html .cont_auspiciador{ display:inline; }
.cont_auspiciador .tit{ position:relative; float:left; width:100%; height:30px; background:url(../imgs/bg_tit_aus_ranking.jpg) repeat-x top center; background-color:#000000; padding:8px 0 0 0; color:#FFCC00; }
.cont_auspiciador .tit .tit_sub{ position:relative; float:left; width:auto; height:auto; padding:0 0 0 15px; }


/*	nuevo ranking	*/
.padmar_cancionSemana{ position:relative; float:left; width:618px; height:auto; padding:20px 0 0 10px; }
.padmar_cancionSemana .titulo{ position:relative; float:left; width:608px; height:auto; padding:10px 5px; background:url("../imgs/borde_cen.png") repeat-x scroll center bottom transparent; color:#FFF; }
.padmar_cancionSemana .borde{ position:relative; float:left; width:606px; height:auto; padding:10px 5px; border:1px solid #CCC; }
.padmar_cancionSemana .borde .col01{ position:relative; float:left; width:430px; padding:13px 13px 0 13px; }
.padmar_cancionSemana .auspiciador{ position:relative; float:left; width:137px; height:113px; }
.cnt_reproductor{ position:relative; float:left; width:auto; height:auto; padding:20px 0 0 10px; }
.padmar_cancionSemana .reproductor{ position:relative; float:left; width:100%; height:auto; padding:24px 0 0 0; }

.cont_ranking_semana{ position:relative; float:left; width:928px; height:auto; margin:20px 0 0 10px; background:#333; }
.cont_ranking_semana .titulo{ position:relative; float:left; width:918px; height:auto; padding:10px 5px; background:url("../imgs/borde_cen.png") repeat-x scroll center bottom transparent; color:#FFF; }

.cont_ranking_semana .col1{ position:relative; float:left; width:700px; height:auto; padding:15px 0 15px 18px; border-right:1px solid #666; }
.cont_ranking_semana .col1 .subtit{ position:relative; float:left; width:100%; height:auto; padding:5px 0px; }
.cont_ranking_semana .col1 .item{ position:relative; float:left; width:310px; height:auto; padding:8px 12px 0 12px; }
.cont_ranking_semana .col1 .item .div_rdo{ position:relative; float:left; width:auto; height:auto; padding:24px 2px 0 2px; }
.cont_ranking_semana .col1 .item .div_rdo input{ margin:0px; }
.cont_ranking_semana .col1 .item .tema{ position:relative; float:left; width:auto; height:auto; padding:4px; }

.cont_ranking_semana .col2{ position:relative; float:left; width:auto; height:auto; padding:30px 0 0 15px; }

.cont_ranking_semana .col3{ position:relative; float:left; width:913px; height:auto; padding:10px 0 0 15px; border-top:1px solid #666; }
.cont_ranking_semana .col3 .cnt_txt{ position:relative; float:left; width:auto; height:auto; padding:3px 8px 9px 28px; }
.cont_ranking_semana .col3 .cnt_txt .txt{ width:220px; }
.cont_ranking_semana .col3 .cnt_txt .btn{ background:#F00; color:#FFF; }

.tema_especial{ position:relative; float:left; width:459px; height:auto; padding:20px 0 8px 10px; }
.tema_especial .titulo{ position:relative; float:left; width:448px; height:auto; padding:10px 5px; background:url("../imgs/borde_cen.png") repeat-x scroll center bottom transparent; color:#FFF; }
.tema_especial .borde{ position:relative; float:left; width:446px; height:auto; padding:10px 5px; border:1px solid #CCC; }
.tema_especial .borde .col01{ position:relative; float:left; width:305px; padding:13px 8px 0 3px; }
.tema_especial .auspiciador{ position:relative; float:left; width:auto; height:auto; }


.cnt_reproductor{ position:relative; float:left; width:auto; height:auto; padding:20px 0 0 10px; }
.cnt_reproductor .nuevo_banner{ position:relative; float:left; width:303px; height:245px; background:url(../imgs/envivo.jpg) no-repeat top center; }
.cnt_reproductor .nuevo_banner .programa_actual{ position:relative; float:left; width:280px; height:auto; padding:110px 0 0 10px; color:#FFF; font-size:12px; }
.cnt_reproductor .nuevo_banner .programa_actual p{ padding:3px 0px; }
.cnt_reproductor .nuevo_banner .programa_actual span{ float:right; }

.tema_especial .reproductor{ position:relative; float:left; width:100%; height:auto; padding:24px 0 0 0; }
.tema_especial .reproductor2{ position:relative; float:left; width:100%; height:auto; padding:12px 0 0 0; }

/*	WEBS AMIGAS		*/
.cont_websamigas{ position:relative; float:left; width:636px; height:auto; margin:10px; border:1px solid #FFBCBC; } * html .cont_websamigas { display:inline; }
.cont_websamigas b{ color:#FF0000; font-weight:bold; font-size:16px; }
.cont_websamigas p{ padding:16px 10px 5px 10px; font-size:16px; text-align:justify; } * html .cont_quienes_somos { display:inline; }
.lnk_web_amiga{ position:relative; float:left; width:200px; height:170px; padding:8px 0 8px 8px; }

/*	CENTRA IMAGEN	*/
.table_align { text-align: center; vertical-align: middle; width:132px; height:94px; }
.table_align_concurso { text-align: center; vertical-align: middle; width:287px; height:280px; }
.table_align_concurso_seccion { text-align: center; vertical-align: middle; width:297px; height:290px; }
.table_align_banda { text-align: center; vertical-align: middle; width:165px; height:150px; }
.table_align_fotos { text-align: center; vertical-align: middle; width:290px; height:290px; }

/*	ALERTAR ERRORES	*/
#form_compartir_evento label.error{ margin: 3px 0 3px 71px !important; width: 176px !important; text-align:left !important; }
label.error{ position:relative; float:left; height:auto; width:auto !important; margin:3px 0 3px 157px; color:#FF0000; border:1px solid #FF0000; padding:3px; } * html label.error{ width:250px !important; text-align:left !important; }
#exito{ width:auto !important; margin:3px 0 3px 157px; color:#339933; border:1px solid #339933; padding:3px; display:none; }
#exito_comnot{ width:auto !important; margin:3px 0 3px 70px; color:#339933; border:1px solid #339933; padding:3px; display:none; }* html #exito_comnot{ width:210px !important; margin:3px 0 3px 36px; text-align:left; }

/*	FORMULARIO DE INSCRIPCION	*/

.form_suscribir{ position:absolute; width:618px; height:auto; background:#F8F8F8; border:2px solid #DADADA; left:20%; top:140px; display:none; z-index:99999999999999; padding:5px 0px; }
.form_suscribir.fixed { position:fixed; left:28%; top:100px; z-index:99999999999999; }
* html .form_suscribir{ position:absolute; float:left; width:618px; height:auto; background:#F8F8F8; border:2px solid #DADADA; left:18%; top:130px; display:none; z-index:99999999999999; padding:5px 0px; }

.background_opaco{ position:absolute; float:left; width:100%; height:1950px; top:0px; left:0px; background:url(images/transparent-bg.png); display:none; z-index:999999; }
.background_opaco_programas{ position:absolute; float:left; width:100%; top:0px; left:0px; background:url(images/transparent-bg.png); z-index:999999; }

.cerrar_inscripcion{ position:absolute; float:left; width:auto; height:auto; padding:4px; top:0px; right:0px; color:#FF0000; cursor:pointer; z-index:9999999; font-weight:bold; }
.cerrar_inscripcion:hover{ text-decoration:underline; }

.form_suscribir .tit_form{ position:relative; float:left; width:93%; height:auto; padding:10px 20px; }
.form_suscribir .tit_form img{ padding:4px 15px; }
.form_suscribir .tit_form b{ color:#FF0000; font-size:18px; }
.form_suscribir .tit_form p{ font-weight:bold; padding:9px 0px; }

.frmSuscripcion label{ width:180px; font-family:Tahoma; font-size:13px; color:#666666; font-weight:bold; }
.frmSuscripcion .txt{ position:relative; float:left; width:246px; height:16px; padding:4px; border:1px solid #E3E3E3; }
.frmSuscripcion .rdo{ position:relative; float:left; width:246px; height:16px; padding:6px; }
.frmSuscripcion .selcnt{ position:relative; float:left; width:246px; height:16px; padding:6px 0px; }
.frmSuscripcion .sel{ width:258px; height:26px; padding:4px; border:1px solid #E3E3E3; float:left; }
.frmSuscripcion .btn_sus{ background:#FF0000; width:57px; height:22px; color:#FFFFFF; margin:4px 0px; }
.frmSuscripcion label.error{ border:1px solid #FF0000; color:#FF0000; font-size:10px; margin:4px 0 4px 190px; } * html .frmSuscripcion label.error{ width:290px !important; }

.frmSuscripcion_ok{ position:absolute; width:618px; height:auto; background:#F8F8F8; border:2px solid #DADADA; left:20%; top:100px; display:none; z-index:99999999999999; padding:5px 0px; }
.frmSuscripcion_ok.fixed { position:fixed; left:28%; top:100px; z-index:99999999999999; }
* html .frmSuscripcion_ok{ position:absolute; float:left; width:618px; height:auto; background:#F8F8F8; border:2px solid #DADADA; left:18%; top:830px; display:none; z-index:99999999999999; padding:5px 0px; }
.frmSuscripcion_ok img{ padding:4px 15px; }
.frmSuscripcion_ok p{ font-weight:bold; font-size:18px; padding:9px 0px; }

/*	Imagen programacion	*/
.img_programacion{ position:absolute; width:750px; height:auto; background:#F8F8F8; border:2px solid #DADADA; left:12%; top:140px; z-index:99999999999999; padding:5px 0px; }
.img_programacion .cerrar{ position:absolute; float:left; width:auto; height:auto; padding:4px; top:0px; right:0px; color:#FF0000; cursor:pointer; z-index:9999999; font-weight:bold; }
.img_programacion .cerrar:hover{ text-decoration:underline; }


/*	Videos del index	*/
#ytvideo2{ position:relative; float:left; width:243px; height:208px; padding:40px 0 0 23px; }
.cnt_inx1 ul { width: 100%; list-style:none; }
.cnt_inx1 ul li { position:relative; float:left; width:68px; height:auto; padding:12px 3px 5px 3px; }
.cnt_inx1 ul li a { font-family: georgia; text-decoration: none; display: block; color: #000; }
.currentvideo { background:url(../imgs/bg_gal_videos_item.png) no-repeat center center; }
.lista img{ width:68px; height:50px; margin:0px; }

.error404{ position:relative; float:left; width:100%; height:auto; padding:130px 0px; text-align:center; }
.error404 a{ color:#900; }
.error404 a:hover{ text-decoration:underline; }

/*	Galeria de fotos	*/
.content_galleria_fotos{ color:#eee; font:14px/1.4 "helvetica neue", arial,sans-serif; width:670px; height:420px; margin:20px auto; }
.content_galleria_fotos #galleria_fotos{ height:400px; }

/*	Bandas	*/
.con_datos_banda{ position:relative; float:left; width:468px; height:auto; }
.con_datos_banda .banda_tit{ position:relative; float:left; width:100%; height:auto; padding:4px 0px; font-size:20px; color:#E91E2C; }
.con_datos_banda .banda_des{ position:relative; float:left; width:100%; height:50px; padding:2px 0px; color:#999; font-weight:bold; }

.con_datos_banda .banda_contacto{ position:relative; float:left; width:98%; height:auto; padding:4px 0px 0px 0px; border-top:1px solid #999; }
.con_datos_banda .banda_contacto .contacto_1{ position:relative; float:left; width:250px; padding:0px 4px; }
.con_datos_banda .banda_contacto .contacto_1 a{ color:#E91E2C; }
.con_datos_banda .banda_contacto .contacto_1 a:hover{ text-decoration:underline; }
.con_datos_banda .banda_contacto .contacto_1 .sub{ color:#E91E2C; }
.con_datos_banda .banda_contacto .contacto_2{ position:relative; float:left; width:200px; }

/*	Fotos inicio	*/
.cont_inx_fotos{ position:relative; float:left; width:100%; height:300px; overflow:hidden; }

/*	Blogs	*/
#cont_blog{ position:relative; float:left; width:100%; height:auto; font-family:Arial, Helvetica, sans-serif; }
.blog_imagen_portada{ position:relative; float:left; width:970px; height:auto; }

.cont_blog_izquierda{ position:relative; float:left; width:638px; height:auto; padding:10px 0 0 10px; }
.cont_blog_derecha{ position:relative; float:left; width:299px; height:auto; padding:10px 0 0 10px; }

.item_articulo{ position:relative; float:left; width:96%; height:auto; margin:5px 0px 0 10px; border-bottom:1px solid #E9EBEA; padding:4px 0px; }
.item_articulo .imagen{ position:relative; float:left; width:auto; height:94px; padding:5px 5px 5px 0; overflow:hidden; }
.item_articulo .detalle{ position:relative; float:left; width:430px; height:100px; padding:5px; overflow:hidden; }
.item_articulo .detalle .fecha{ color:#333; padding:3px 0px; }
.item_articulo .detalle .titulo{ padding:3px 0px; font-size:20px; }
.item_articulo .detalle .titulo a:hover{ text-decoration:underline; }
.item_articulo .detalle .estracto{ color:#333; padding:3px 0px; }
.item_articulo .numero_comentarios{ position:relative; float:right; background:url(../imgs/nube.png) no-repeat right bottom; width:22px; height:25px; padding:15px 0 0 10px; text-align:center; }


/*	Blog detalle	*/
.articulo{ position:relative; float:left; width:606px; height:auto; padding:5px 15px; border-top:none; }
.articulo .titulo{ position:relative; float:left; width:540px; font-size:26px; font-weight:bold; padding:17px 0px 10px 0px; }
.articulo .numero_comentarios{ position:relative; float:right; width:37px; height:37px; padding:10px 5px 5px 5px; background:url(../imgs/nube2.png) center center no-repeat; text-align:center; font-size:23px; }

.articulo .autor{ position:relative; float:left; width:100%; height:auto; font-style:italic; border-top:1px solid #CCC; border-bottom:1px solid #CCC; padding:10px 0px; margin:10px 0px; }
.articulo .imagen{ position:relative; float:left; width:100%; height:auto; }
.articulo .imagen img{ padding:0 10px 10px 0; }
.articulo .texto{ position:relative; float:left; width:100%; height:auto; }
.articulo .audio{ position:relative; float:left; width:100%; height:auto; }

.cont_minitext_articulo{ position:relative; float:left; width:100%; height:auto; padding:20px 0 10px 0px; }
.cont_minitext_articulo .texto_intro{ position:relative; float:left; width:473px; height:auto; padding:10px 0 0 10px; }
.cont_minitext_articulo .num_comentarios{ position:relative; float:right; width:61px; height:40px; background:url(../imgs/nube2.png) no-repeat center center; text-align:center; padding:19px 0 0 0; }

.cont_articulos_comentarios{ position:relative; float:left; width:606px; height:auto; padding:5px 15px; border-top:none; }
.tit_cont_comentarios{ position:relative; float:left; width:608px; height:auto; padding:10px 15px; margin:10px 0px 0px 0px; background:#CBB8D8; color:#FFF; font-size:20px; font-weight:bold; }

.tit_item_derecha{ position:relative; float:left; width:287px; height:auto; padding:4px 0 4px 12px; background:#CCC; color:#999; font-size:16px; font-weight:bold; }
.txt_sobre_programa{ position:relative; float:left; width:291px; height:auto; padding:18px 0 18px 4px; }

.cont_auspiciadores_blog{ position:relative; float:left; width:296px; height:auto; padding:1px; }
.cont_auspiciadores_blog .item_auspiciador{ position:relative; float:left; width:auto; height:auto; padding:4px 4px; }

.cont_temas_recientes{ position:relative; float:left; width:296px; height:auto; padding:1px; }
.cont_temas_recientes ul{}
.cont_temas_recientes li{ list-style:none; padding:4px 0 4px 10px; }
.cont_temas_recientes a{ color:#333; }
.cont_temas_recientes a:hover{ text-decoration:underline; }



/*	Publicidad correccion	*/
.publicidad_link{ position:relative; float:left; width:auto; height:auto; padding:8px 0px; }
.publicidad_link2{ position:absolute; float:left; z-index:10; right:0px; }
.fondo{ position:relative; float:left; width:auto; height:auto; z-index:0; }



/*	Index cambios	*/
.cnt_especial{ position:relative; float:left; width:633px; height:auto; margin:10px 0 0px 0; }
.cnt_programas_blogs{ position:relative; float:left; width:430px; height:auto; margin:0 8px 0 0; }

.cnt_progs{ position:relative; float:left; width:100%; height:auto; margin:0 8px 10px 0; border:1px solid #F00; }
.cnt_progs .tit{ position:relative; float:left; width:410px; height:36px; background:url(../imgs/borde_cen.png) repeat-x top center; padding:0px 10px 0px 10px; }
.cnt_progs .tit p{ position:relative; float:left; }
.cnt_progs .tit p a{ color:#FFFFFF; position:relative; float:left; }
.cnt_progs .tit p a:hover{ position:relative; float:left; text-decoration:underline; }
.cnt_progs .cnt{ position:relative; float:left; width:430px; height:178px; overflow:hidden; }

.cnt_blogs{ position:relative; float:left; width:100%; height:auto; margin:0 8px 0px 0; border:1px solid #FDE1D6; }
.cnt_blogs .tit{ position:relative; float:left; width:410px; height:36px; background:url(../imgs/borde_cen.png) repeat-x top center; padding:0px 10px 0px 10px; }
.cnt_blogs .tit p{ position:relative; float:left; }
.cnt_blogs .tit p a{ color:#FFFFFF; position:relative; float:left; }
.cnt_blogs .tit p a:hover{ position:relative; float:left; text-decoration:underline; }
.cnt_blogs .cnt{ position:relative; float:left; width:430px; height:auto; overflow:hidden; }
.cnt_blogs .col{ position:relative; float:left; width:205px; padding:0 0 0 5px; }
.cnt_blogs .col2{ position:relative; float:left; width:205px; padding:12px 0 0 5px; }
.cnt_blogs .tit_ultpost{ color:#F00; font-size:10px; padding:2px 0px; height:12px; }
.cnt_blogs .bitem{ position:relative; float:left; width:auto; height:auto; margin:0px 10px; color:#666; border-top:1px dotted #CCC; }
.cnt_blogs .bitem p{ padding:3px 0px; }
.cnt_blogs .bitem p a{ color:#666; }
.cnt_blogs .bitem p a:hover{ text-decoration:underline; }

.cnt_blogs .bitem .prog{ font-size:10px; }
.cnt_blogs .bitem .titn{ font-size:12px; background:#FEE7DF; padding:3px; width:190px; height:30px; }
.cnt_blogs .bitem .autr{ font-size:10px; }

.cnt_novedades{ position:relative; float:left; width:193px; height:auto; border:1px solid #FDE1D6; }
.cnt_novedades .tit{ position:relative; float:left; width:173px; height:36px; background:url(../imgs/borde_cen.png) repeat-x top center; padding:0px 10px 0px 10px; }
.cnt_novedades .tit p{ position:relative; float:left; }
.cnt_novedades .tit p a{ color:#FFFFFF; position:relative; float:left; }
.cnt_novedades .tit p a:hover{ position:relative; float:left; text-decoration:underline; }
.cnt_novedades .item{ position:relative; float:left; width:180px; min-height:30px; padding:0 0 6px 0; margin:2px 8px 2px 8px; border-bottom:1px solid #CCC; }
.cnt_novedades .item p{ color:#666; }
.cnt_novedades .item a{ color:#F00; font-weight:bold; }
.cnt_novedades .item a:hover{ text-decoration:none; }

.cnt_novedades .item2{ position:relative; float:left; width:180px; padding:11px 0px 12px 0; margin:2px 8px 2px 8px; border-bottom:1px solid #CCC; }
.cnt_novedades .item2 p{ color:#000; }
.cnt_novedades .item2 a{ color:#F00; font-weight:bold; }
.cnt_novedades .item2 a:hover{ text-decoration:none; }

.cnt_novedades .item3{ position:relative; float:left; width:180px; padding:11px 0px 11px 0; margin:2px 8px 2px 8px; }
.cnt_novedades .item3 p{ color:#000; }
.cnt_novedades .item3 a{ color:#F00; font-weight:bold; }
.cnt_novedades .item3 a:hover{ text-decoration:none; }



/*	Pie de pagina - no flash	*/
#Pie { position:relative; float:left; width:970px; height:100px; z-index:1; }
#Pie #log_radio { position:absolute; width:161px; height:50px; z-index:1; left: 25px; top: 27px; }
#Pie #log_tv { position:absolute; width:166px; height:55px; z-index:2; left: 220px; top: 22px; }
#Pie #dat { position:absolute; width:460px; height:20px; z-index:3; left: 490px; top: 60px; font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #999; text-align: right; }
#Pie #dat a{ color:#999; }
#Pie #dat a:hover{ text-decoration:underline; }
#Pie #sep { position:absolute; width:970px; height:15px; z-index:4; left: 0px; top: 0px; }

.menu_inferior{ position:relative; float:left; width:100%; height:42px; padding:5px 0px; background:url(../imgs/bg_pie.png) repeat-x; }
.menu_inferior .item{ position:relative; float:left; width:161px; padding:9px 0px; text-align:center; }
.menu_inferior .item a{ color:#FFF; font-weight:bold; }
.menu_inferior .item a:hover{ text-decoration:underline; }

/*	Redes	*/
.redsocial{ position:relative; float:left; width:606px; height:auto; padding:15px; background:#F2F2F2; }
.redsocial #Like { position:relative; float:left; width:auto; height:auto; padding:7px 10px 0 0; }
.redsocial #Google { position:relative; float:left; width:auto; height:auto; padding:4px 10px 0 0; }
.redsocial #AddThis { position:relative; float:right; width:210px; height:auto; }

/*	Mas post	*/
.mas_post{ position:relative; float:left; width:639px; height:auto; padding:15px 0px; }
.mas_post .titulo{ position:relative; float:left; width:595px; height:auto; padding:8px; }
.mas_post .items{ position:relative; float:left; width:620px; height:auto; padding:8px; background:#F2F2F2; }
.mas_post .items .item{ position:relative; float:left; width:141px; height:auto; padding:5px; }
.mas_post .items .item .imagen{ position:relative; float:left; width:131px; height:94px; padding:5px; overflow:hidden; }
.mas_post .items .item .titulo{ position:relative; float:left; width:131px; height:auto; padding:5px; }
.mas_post .items .item .titulo a{ color:#666; }
.mas_post .items .item .titulo a:hover{ text-decoration:underline; }

#iframeblog{ margin:0; padding:0; display:block; width:100%; border:none; overflow:hidden; }