/* CSS Document */
body{ margin:0px; padding:0px; width:100%; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#000; background:url(../imgs/trama-fondo.jpg) repeat; }
img{ border:none; }
p{ margin:0px; padding:0px; }
input{ font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:0px; margin:0px; }
textarea{ font-family:Arial, Helvetica, sans-serif; font-size:12px; }
ul{ padding:0px; margin:0px; }
li{ padding:0px; margin:0px; }
a{ text-decoration:none; color:#b370cb; }
.clear{ clear:both; }
label{ font-family:Arial, Helvetica, sans-serif; font-size:12px; }
h1, h2, h3, h4, h5, h6{ margin:0px; }