Options All -Indexes
Options +FollowSymlinks

RewriteEngine on
RewriteBase /

Rewriterule ^portada/$ index.php [L,QSA]
Rewriterule ^proveedores/([0-9]+)/(.+)/.*$ proveedores.php?id_rubro=$1&pag=$2 [L,QSA]
Rewriterule ^catalogo/([0-9]+)/.*$ catalogo.php?id_proveedor=$1 [L,QSA]
Rewriterule ^usuario/(.+)/.*$ usuarioCliente.php?opcion=$1 [L,QSA]

Rewriterule ^validacion/(.+)/.*$ validacion.php?opcion=$1 [L,QSA]

Rewriterule ^eliminar_recomendado/(.+)/.*$ eliminar_recomendado.php?id_proveedor_recomendado=$1 [L,QSA]
Rewriterule ^eliminar_red_social/(.+)/.*$ eliminar_red_social.php?id_proveedor_red_social=$1 [L,QSA]

Rewriterule ^noticias/([0-9]+)/.*$ noticias.php?pag=$1 [L,QSA]
Rewriterule ^noticias_detalle/([0-9]+)/.*$ noticias_detalle.php?id_articulo=$1 [L,QSA]

ErrorDocument 404 http://local.bodas.com/error.php